[submodule "partitioner/ParMETIS"]
	path = partitioner/ParMETIS
	url = git@github.com:KarypisLab/ParMETIS.git
[submodule "partitioner/KaHIP"]
	path = partitioner/KaHIP
	url = git@github.com:KaHIP/KaHIP.git
[submodule "partitioner/KaGen"]
	path = partitioner/KaGen
	url = git@github.com:sebalamm/KaGen.git
[submodule "partitioner/GKlib"]
	path = partitioner/GKlib
	url = git@github.com:KarypisLab/GKlib.git
[submodule "partitioner/METIS"]
	path = partitioner/METIS
	url = git@github.com:KarypisLab/METIS.git
